/********************************************************************************************************************************************************************************
********************* G E N E R A L *****************
/********************************************************************************************************************************************************************************/

body {
	overflow-x: hidden;
	background: white;
}
.oblique {
	@include rotate(-$rotate);
	@include transform-origin(left center);
	padding: 2rem 0;
	margin: 0 -20px;
	display: block;
}
.oblique .row {
	@include rotate($rotate);
	.row {
		@include rotate(0);
	}
}
.row {
	margin: 0 auto;
	max-width: $row; /* largeur du site par défaut */
}
.row-group {
	@extend %clearfix;
}
.columns-inline {
	.columns {
		display: inline-block;
		float: none;
	}
}

/* ============== M O D A L
========================================================== */

.modal {
	@include border-radius(5px);
	@include translate(-50%, -40%);
	@include box-shadow(0 0 10px rgba(0,0,0,0.5));
	@include transition(transform 0.2s ease-out);
	background: white;
	height: auto;
	left: 50%;
	position: fixed;
	top: 40%;
	visibility: hidden;
	width: 50%;
	z-index: 2000;
	.modal_content {
		position: relative;
		padding: 1rem;
		@include transition(all 0.3s);
		@include opacity(0);
		.modal_links {
			list-style: none none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				&:first-child:after {
					content: ' /';
				}
			}
		}
	}
}
.modal_open {
	visibility: visible;
	@include translate(-50%, -50%);
	.modal_content {
		@include opacity(1);
	}
}
.modal_overlay {
	@include opacity(0);
	@include transition(all 0.3s ease-in);
	background: rgba(0,0,0,0.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 1000;
}
.modal_close {
	background: transparent;
	border: 0;
	position: absolute;
	right: 1rem;
	top: 1.5rem;
	width: 15px;
	height: 15px;
	text-indent: -999em;
	&:after, &:before {
		content: '';
		display: block;
		background: black;
		height: 3px;
		width: 15px;
		position: absolute;
		top: 0;
	}
	&:before {
		@include rotate(-45deg);
		left: 0;
	}
	&:after {
		@include rotate(45deg);
		left: 0;
	}
}
.modal_open ~ .modal_overlay {
	@include opacity(1);
	visibility: visible;
}

	/* ============== M O D A L  // L O G  I N
	========================================================== */

	#log_in {
		background: white url('../images/illustrations/kemar.jpg') no-repeat 0 0;
		.modal_title {
			@include rem(5);
			color: white;
			font-family: $font-stack-headings;
			margin: 10rem 0 2rem 0;
			padding: 0;
			text-transform: uppercase;
		}
		.modal_close {
			&:after, &:before {
				background: white;
			}
		}
		li {
			&:after {
				color: white;
			}
		}
		a {
			color: white;
		}
	}
	#login_form {
		margin-bottom: 13rem;
		.form_row {
			display: inline-block;
			width: 26rem;
			label {
				@extend %visuallyhidden;
			}
			input {
				border: 2px solid #282D2A;
				background: white;
				color: #7B8084;
				padding: 8px 6px;
				width: 100%;
				@include rem(2);
			}
		}
		button {
			padding: 0 1.5rem;
			vertical-align: top;
		}
	}

	/* ============== M O D A L  // P A L A N T I R
	========================================================== */

	#palantir {
		background: white;
		.modal_content {
			padding: 3rem;
		}
		.modal_close {
			right: 0;
		}
		.modal_title {
			@include rem(5);
			color: $base-color;
			font-family: $font-stack-headings;
			margin: 2rem 0 2rem 0;
			padding: 0;
			text-transform: uppercase;
		}
		.form_row {
			display: inline-block;
			width: 26rem;
			label {
				@extend %visuallyhidden;
			}
			input {
				border: 2px solid #ccc;
				background: white;
				color: #7B8084;
				padding: 8px 6px;
				width: 100%;
				@include rem(2);
			}
		}
		button {
			padding: 0 1.5rem;
			vertical-align: top;
		}
	}

	/* ============== M O D A L  // R E S P O N S I V E
	========================================================== */

	@media (max-width: $medium-screen) {
		#login_form, #palantir_form {
			width: 90%;
			.form_row {
				display: block;
				width: 100%;
			}
			button {
				margin: 0;
			}
		}
	}