/********************************************************************************************************************************************************************************
********************* G E N E R A L *****************
/********************************************************************************************************************************************************************************/

body {
	overflow-x: hidden;
	background: white;
}
.oblique {
	@include rotate(-$rotate);
	@include transform-origin(left center);
	padding: 2rem 0;
	margin: 0 -20px;
	display: block;
}
.oblique .row {
	@include rotate($rotate);
	.row {
		@include rotate(0);
	}
}
.row {
	margin: 0 auto;
	max-width: $row; /* largeur du site par défaut */
}
.row-group {
	@extend %clearfix;
}
.columns-inline {
	.columns {
		display: inline-block;
		float: none;
	}
}
.m-scene {
	background: white;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	/* overlay stuff */
	@include transition(transform 0.5s);
	&.overlay-open {
		@include translate3d(100%,0,0);
	}
}

/* ============== C O M M U N   M I S E   E N   P A G E   A R T I C L E
============================================================================== */

.article_focus {
	background: white;
	padding: 1em;
	@include border-radius(5px);
	.inner_content {
		text-align: justify;
		a {
			display: block;
			overflow: hidden;
			p {
				display: block;
				font-family: $font-stack-headings;
				@include rem(2.2);
				text-transform: uppercase;
				position: relative;
				background: white;
				text-align: left;
				&:before {
					@include rotate(-3deg);
					background: inherit;
					content: '';
					display: block;
					height: 35px;
					left: -20px;
					position: absolute;
					top: -20px;
					width: 115%;
				}
				span {
					position: relative;
					top: -.5rem;
				}
			}
		}
	}
}
.other_news {
	list-style: none none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: 2em;
		a {
			background: white;
			border: 1px solid #ccc;
			display: block;
			overflow: hidden;
			&:hover, &:focus {
				text-decoration: none;
				p {
					background: $orange-color-elbakin;
					color: white;
				}
			}
			img {
				width: 100%;
				height: auto;
			}
			p {
				display: block;
				font-family: $font-stack-headings;
				padding: 0 .5rem;
				position: relative;
				background: white;
				&:before {
					@include rotate(-3deg);
					background: inherit;
					content: '';
					display: block;
					height: 35px;
					left: -20px;
					position: absolute;
					top: -20px;
					width: 115%;
				}
				span {
					position: relative;
					top: -.5rem;
				}
			}
		}
	}
}

#most .article_focus {
	padding: 0 1rem 1rem 1rem;
}

/* ============== B L O C   N O S   A R T I C L E S
========================================================== */

#other_news {padding: 2rem 0;}
#articles, #itws {
	h2 {
		text-transform: uppercase;
		@include rem(2);
		margin: 1em 0;
		padding: 0;
	}
	ul {
		list-style: none none;
		padding: 0;
		margin: 0;
		li {
			display: block;
			border-bottom: 1px solid #ccc;
			a {
				display: block;
				padding: .5em 0;
			}
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (max-width: $small-screen) {
	.m-page { padding-top: 50px; }
}