/********************************************************************************************************************************************************************************
********************* G E N E R A L *****************
/********************************************************************************************************************************************************************************/

body {
	overflow-x: hidden;
	background: white;
}
.oblique {
	@include rotate(-$rotate);
	@include transform-origin(left center);
	padding: 2rem 0;
	margin: 0 -20px;
	display: block;
}
.oblique .row {
	@include rotate($rotate);
	.row {
		@include rotate(0);
	}
}
.row {
	margin: 0 auto;
	max-width: $row; /* largeur du site par défaut */
}
.row-group {
	@extend %clearfix;
}
.columns-inline {
	.columns {
		display: inline-block;
		float: none;
	}
}
.article_focus {
	background: white;
	padding: 1em;
	@include border-radius(5px);
	.inner_content {
		text-align: justify;
		a {
			display: block;
			overflow: hidden;
			p {
				display: block;
				font-family: $font-stack-headings;
				@include rem(2.2);
				text-transform: uppercase;
				position: relative;
				background: white;
				text-align: left;
				&:before {
					@include rotate(-3deg);
					background: inherit;
					content: '';
					display: block;
					height: 35px;
					left: -20px;
					position: absolute;
					top: -20px;
					width: 115%;
				}
				span {
					position: relative;
					top: -.5rem;
				}
			}
		}
	}
}