/********************************************************************************************************************************************************************************
********************* N E W S *****************
/********************************************************************************************************************************************************************************/

#news_general {
	@extend %clearfix;
	background: $news-background;
	padding: 2rem 0;
	.row {
		max-width: 100%;
	}
}
.post {
	@include background-size(cover);
	background-color: white;
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	.the-title {
		margin-top: 1.5rem;
		z-index: 2;
		a {display: block; z-index: 2;}
	}
}
.post-teaser {
	position: relative;
	&:before {
		@include transition(all .2s);
		content: '';
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.the-title {
		@include transition(all .2s);
		font-family: $font-stack-simili;
		font-weight: 300;
		line-height: 1.2;
		margin-bottom: 0;
		position: relative;
		text-align: left;
		text-transform: uppercase;
		a {
			background-color: #000;
			box-decoration-break: clone;
			color: white;
			display: inline;
			padding: .1rem .2em;
		}
	}
	.entry-extract {
		@include transition(all .2s);
		@include opacity(0);
		@include translate3d(0,-20px,0);
		margin-top: 1rem;
		z-index: 2;
		.post-info {
			font-family: $font-stack-simili;
			font-weight: 400;
			margin-bottom: 1rem;
			time {
				box-decoration-break: clone;
				background: white;
				color: #666;
				padding: .1em .2em;
			}
		}
		p {
			color: white;
			line-height: 1.4;
			text-overflow: ellipsis;
		}
	}
	&:hover {
		&:before {
			background: rgba(0,0,0,0.5);
		}
		.the-title {
			z-index: 2;
			a {
				background: white;
				color: black;
				text-decoration: none;
				&:hover {
					color: $base-color-elbakin;
				}
			}
		}
		.entry-extract {
			@include opacity(1);
			@include translate3d(0,10px,0);
			position: relative;
		}
	}
}
.post-tribune {
	@include background-size(cover);
	background-color: #404447;
	background-image: url('../images/quote.jpg');
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	.the-title {
		font-family: $font-stack-simili;
		font-size: $h1-size;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 2rem;
		text-align: center;
		text-transform: uppercase;
		a {
			color: white;
			text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
			&:hover, &:focus, &:active {
				text-decoration: none;
			}
		}
	}
	.entry-extract {
		p {
			color: white;
			margin-bottom: 2rem;
			text-align: justify;
			.dropcaps {
				font-family: "Palatino Linotype", Palatino, $font-stack-simili;
				display: block;
				font-style: normal;
				font-size: 5.3em;
				float: left;
				margin: .1em .04em 0 0;
				line-height: .67em;
				color: white;
			}
		}
		.post-info {
			@include skewX(-45deg);
			background-color: #26CCC5;
			color: white;
			left: 3.5rem;
			overflow: hidden;
			position: relative;
			span, time {
				@include skewX(45deg);
				display: block;
				font-family: $font-stack-simili;
				text-transform: uppercase;
			}
			img {
				@include skewX(45deg);
				display: block;
				float: left;
				margin: 0 2rem 0 2.5rem;
				position: relative;
				top: 1px;
			}
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (min-width: $tiny-screen) and (max-width: $small-screen) {
	#news_general {
		padding: 0.93em 0;
		.row {margin-left: 0.03em;}
	}
	.column-01, .column-03, .column-04 {
		.the-title {font-size: $h3-size;}
		.post {
			height: 250px;
			margin-bottom: 0.93em;
		}
	}
	.column-02 {
		.the-title {font-size: $h1-size;}
		.post {height: calc(500px + 0.93em);}
	}
}
@media (min-width: $small-screen) and (max-width: $large-screen) {
	#news_general {
		padding: 1.86em 0 0;
		.row {margin-left: 0.03em;}
	}
	.column-01, .column-03, .column-04 {
		.the-title {font-size: $h3-size;}
		.post {
			height: 280px;
			margin-bottom: 1.86em;
		}
	}
	.column-02 {
		.the-title {font-size: $h1-size;}
		.post {height: calc(560px + 1.86em);}
	}
}
@media (min-width: $large-screen) and (max-width: $extra-large-screen) {
	#news_general {
		padding: 1.86em 0 0;
		.row {margin-left: 0.03em;}
	}
	.column-01, .column-03, .column-04 {
		.the-title {font-size: $h2-size;}
		.post {
			height: 280px;
			margin-bottom: 1.86em;
		}
	}
	.column-02 {
		.the-title {font-size: $h1-size;}
		.post {height: calc(560px + 1.86em);}
	}
}
@media (min-width: $extra-large-screen) {
	#news_general {
		padding: 1.86em 0;
		.row {margin-left: 0.03em;}
	}
	.column-01, .column-03, .column-04 {
		.the-title {font-size: $h2-size;}
		.post {
			height: 450px;
			margin-bottom: 1.86em;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.column-02 {
		.the-title {font-size: $al-size;}
		.post {
			height: calc(900px + 1.86em);
		}
	}
}