/********************************************************************************************************************************************************************************
********************* N E W S *****************
/********************************************************************************************************************************************************************************/

.row_all {
	@extend %clearfix;
	height: 65vh;
	width: 100vw;
}
#news_general {
	@extend %clearfix;
	background: $news-background;
	padding: 1vh 0 0 1vh;
	margin-top: 100px;
	.simili-title {
		color: white;
		margin: 20px 0;
	}
	.post {
		float: left;
		overflow: hidden;
		position: relative;
		margin: 0 1vh 1vh 0;
		figure {
			height: 100%;
			width: 100%;
		}
		img {
			@include transition(transform 0.35s);
			display: block;
			height: 100%;
			max-width: none;
			width: 100%;
		}
		&:hover {
			cursor: pointer;
			img {
				@include scale3d(1.05,1.05,1);
			}
			.entry-extract {
				.post-info {
					@include opacity(1);
					@include translate(0, 0);
				}
				p {
					@include opacity(1);
					@include translate(0, 0);				
				}
			}
		}
	}
	.teaser-tribune {
		background: #FE9E00;
		position: relative;
		&:hover {
			&:before {
				@include opacity(1);
				@include translate(-10px, 0);
			}
		}
		&:before {
			@include transition(all 0.35s);
			@include rem(10);
			color: rgba(255,255,255,0.5);
			content: "\e608";
			display: block;
			font-family: 'icomoon', sans-serif;
			line-height: 1;
			position: absolute;
			right: 0;
			speak: none;
			top: -10px;
			@include opacity(0);
		}
		.entry-extract {
			padding: 10px;
			position: relative;
		}
		.the-title {
			margin: 0;
			z-index: 10;
			a {
				color: black;
				font-family: $font-stack-special;
				font-style: italic;
				text-decoration: none;
			}
		}
		.post-info {
			font-family: $font-stack-special;
			font-style: italic;
			padding: 5px 0;
			text-align: right;
		}
		.post-info, p {
			color: black;
			@include rem(1.3);
			z-index: 10;
		}
	}
	.teaser-news, .teaser-chronique {
		.entry-extract {
			height: 100%;
			left: 0;
			padding: 2rem;
			position: absolute;
			top: 0;
			width: 100%;
			.the-title {
				@include text-shadow(1px 1px 0 rgba(0,0,0,1));
				display: block;
				font-family: $font-stack-headings;
				margin: 0;
				position: relative;
				text-align: center;
				text-transform: uppercase;
				a {
					color: white;
					text-decoration: none;
					&:hover, &:focus {
						text-decoration: none;
					}
				}
			}
			.post-info, p {
				@include opacity(0);
				@include transition(all 0.35s);
				@include translate(0, 10%);
			}
			.post-info {
				color: white;
				font-family: $font-stack-special;
				font-style: italic;
				padding: 1rem 0;
				text-align: center;
				& + p {
					color: $base-color;
					background: white;
					padding: 1rem;
					text-align: left;
				}
			}
		}
	}
	.mosaic-large {
		width: 48.5vw;
		height: 61vh;
		.the-title {
			font-size: $h1-size;
		}
	}
	.mosaic-medium {
		width: 48.5vw;
		height: calc(60vh / 2);
		.the-title {
			font-size: $h2-size;
		}
	}
	.mosaic-tall {
		width: 24vw;
		height: 61vh;
		.the-title {
			font-size: $h2-size;
		}
	}
	.mosaic-little {
		width: 24vw;
		height: calc(60vh / 2);
		.the-title {
			font-size: $h3-size;
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (min-width: $ultra-large-screen) {
	#news_general {
		.mosaic {
		}
		.mosaic-large {
		}
		.mosaic-medium {
		}
	}
}
@media (min-width: $extra-large-screen) and (max-width: $ultra-large-screen) {
	#news_general {
		.mosaic {
		}
		.mosaic-large {
		}
		.mosaic-medium {
		}
	}
}
@media (max-width: $extra-large-screen) {
	#news_general {
		.mosaic {
		}
		.mosaic-large {
		}
		.mosaic-medium {
		}
	}
}
@media (max-width: $large-screen) {
	#news_general {
		.mosaic {
		}
		.mosaic-large {
			.the-title {
				line-height: 1;
			}
		}
		.mosaic-medium {
			.the-title {
				line-height: 1;
			}
		}
	}
}
@media (max-width: $tiny-screen) {
	#news_general {
		padding-top: 6rem;
		.mosaic {
			.section {
				display: none;
			}
			&.post {
				img {
					@include opacity(0.6);
				}
				.entry-extract {
					.post-info {
						display: none;
					}
					p {
						margin-top: 1em;
						@include translate(0,0);
						@include opacity(1);
					}
				}
			}
			&.teaser-news, &.teaser-chroniques {
				.entry-extract {
					p {
						@include text-shadow(0 0 3px rgba(0,0,0,0.9));
					}
				}
			}
		}
		.mosaic-large {
			width: 100%;
			height: calc(100% * 1.618033988749);
			.the-title {
				font-size: 2.4em;
			}
		}
		.mosaic-medium {
			width: 100%;
			height: calc(100% * 1.618033988749);
			.the-title {
				font-size: 2em;
			}
		}
	}
}