/********************************************************************************************************************************************************************************
********************* A R T I C L E *****************
/********************************************************************************************************************************************************************************/

.page-article {
	.the-header {
		background: transparent;
		.inner-wrap {
			background: transparent;
		}
	}
	.header_article {
		margin-top: -190px;
	}
}

/* ============== H E A D E R
========================================================== */

.header_article {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 100%;
	text-align: center;
	color: white;
	& ~ .row {
		padding: 2em 0;
	}
	.header_inner {
		position: relative;
		left: auto;
		top: 50%;
		margin: 0 auto;
		width: $row;
		@include translate3d(0,-50%,0);
	}
	.the-title {
		font-family: $font-stack-simili;
		@include text-shadow(0 0 5px rgba(0,0,0,0.9));
		font-size: $al-size;
		margin: 0 0 1em 0;
		position: relative;
		&:after {
			font-family: $font-stack-caps;
			content: '\2767';
			display: block;
			color: white;
			position: absolute;
			bottom: -1.1em;
			left: 48%;
		}
	}
	.a-propos {
		@include text-shadow(0 0 3px rgba(0,0,0,0.9));
		font-family: $font-stack-simili;
		font-style: italic;
		font-size: $h2-size;
		font-weight: 100;
		margin: 0;
		a {
			color: white;
			text-decoration: none;
			&:hover, &:focus {
				text-decoration: underline;
			}
		}
	}
}

/* ============== B O D Y
========================================================== */

.body-article {
	background: white;
	.intro {
		@include rem(1.8);
		font-family: $font-stack-simili;
		font-weight: 400;
		margin-bottom: 1em;
		&::first-letter {
			display: block;
			float: left;
			font-family: "Palatino Linotype", Palatino, $font-stack-simili;
			font-size: 6.6em;
			font-style: normal;
			line-height: .67em;
			margin: .08em .07em 0 0;
		}
	}
	h2,h3,h4,h5,h6 {
		color: black;
	}
	p {
		@include rem(1.6);
		margin-bottom: 2em;
		text-align: justify;
	}
	a {
		color: $base-color-elbakin;
	}
	.complementary {
		width: 30%;
		.inner_comp {
			border: 1px solid #ccc;
			padding: 1rem;
			width: 130%;
			img {
				height: auto;
				width: 100%;
			}
		}
	}
	.align_right {
		float: right;
		margin: 0 0 1em 2em;
	}
	.align_left {
		float: left;
		margin: 0 2em 1em 0;
		.inner_comp {
			@include translate3d(-4em,0,0);
		}
	}
	.quote {
		color: $base-color-elbakin;
		display: block;
		font-family: $font-stack-special;
		font-size: $h2-size;
		font-style: italic;
		width: 33%;
		q {
			display: block;
			width: 133%;
			&:before {
				@include rem(5);
				content: "\e625";
				font-family: 'icomoon', sans-serif;
				font-style: normal;
				left: -10px;
				position: relative;
				top: 5px;
			}
			&:after {
				@include skewX(-40deg);
				background: #ccc;
				content: '';
				display: block;
				height: 3px;
				margin-left:66%;
				margin-top: .5em;
				width: 33%;
			}
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (max-width: $medium-screen) {
	.header_article {
		height: 450px;
		width: 100%;
		.header_inner {
			width: $medium-screen;
		}
		.the-title {
			font-size: $h1-size;
		}
		.a-propos {
			font-style: $h3-size;
		}
	}
	.body-article {
		.complementary {
			width: 40%;
			clear: both;
			margin: 0 auto;
			float: none;
		}
		.quote {
			width: 80%;
			clear: both;
			float: none;
			q {
				width: 100%;
			}
		}
		.align_right, .align_left {
			float: none;
			margin: 0 auto 2em auto;
			.inner_comp {
				@include translate3d(0,0,0);
			}
		}
	}
}
@media (max-width: $small-screen) {
	.header_article {
		height: 350px;
		width: 100%;
		.header_inner {
			width: $small-screen;
		}
		.the-title {
			font-size: $h2-size;
		}
		.a-propos {
			font-style: 1.5em;
		}
	}
}
@media (max-width: $tiny-screen) {
	.header_article {
		height: 300px;
		width: 100%;
		.header_inner {
			width: 100%;
		}
		.the-title {
			font-size: $h2-size;
		}
		.a-propos {
			font-style: 1.5em;
		}
	}
}

/********************************************************************************************************************************************************************************
********************* N E W S *****************
/********************************************************************************************************************************************************************************/

.single-post {
	.tools {
		margin-bottom: 1em;
	}
}
.main_news {
	background: white;
	.a-propos {
		@include rem(1.7);
		color: #ccc;
		font-family: $font-stack-headings;
		margin: 0;
		text-transform: uppercase;
		border-bottom: 1px solid #ccc;
		em {
			font-style: normal;
		}
		a {
			color: #666;
			&:hover, &:focus {
				color: black;
			}
		}
	}
	.the-title {
		@include rem(4);
		color: black;
		margin: 0;
		padding: 10px 0 0;
	}
	.tags {
		em {
			@include rem(1.6);
			color: $base-color-elbakin;
			font-family: $font-stack-headings;
			font-style: normal;
			text-transform: uppercase;
			padding: .1em 0;
			margin-right: 1em;
			display: inline-block;
			vertical-align: middle;
		}
		a {
			background-color: #ccc;
			color: white;
			display: inline-block;
			font-family: $font-stack-headings;
			line-height: 1;
			text-transform: uppercase;
			padding: .1em .3em;
			&:hover, &:focus {
				text-decoration: none;
				background-color: $orange-color-elbakin;
				color: white;
			}
		}
	}
	.body-article {
		margin: 1em 0;
		background: white;
		@extend %clearfix;
		.complementary {
			width: auto;
			float: none;
			clear: both;
			margin: 0 auto 1em;
			text-align: center;
			img {
				border: 1px solid #ccc;
				padding: 1rem;
			}
		}
		.footer_article {
			.social_tools {
				float: left;
				margin: 0;
			}
			a {
				float: right;
				display: inline-block;
			}
			.btn_comment {
				margin-right: .5rem;
			}
		}
		.social_tools {
			a {
				background-color: #3D578D;
				color: white;
				float: none;
				font-family: $font-stack-headings;
				letter-spacing: 1px;
				margin-right: .5em;
				padding: .5em 1em;
				text-transform: uppercase;
				&:hover {
					text-decoration: none;
				}
				&+a {
					background-color: #55ACEE;
				}
				&+a+a {
					background-color: #DD4B39;
				}
			}
		}
	}
}

/* ============== O T H E R   N E W S
========================================================== */

.other_news {
	@extend %clearfix;
	background: white !important;
	margin-bottom: 4em;
	a {
		@include transition(all .1s ease-in);
		background-color: $news-background;
		background-position: 0 0;
		background-size: cover;
		display: block;
		float: left;
		position: relative;
		width: 48.5%;
		&+a {
			text-align: right;
			float: right;
			.cartouche {
				margin: 1rem 1rem 0 0;
			}
		}
		&:hover, &:focus {
			background-position: 0 100%;
			text-decoration: none;
			.cartouche {
				color: $base-color-elbakin;
			}
		}
		.trame {
			background: rgba(0,0,0,0.5);
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.cartouche {
			background: white;
			display: inline-block;
			font-family: $font-stack-headings;
			line-height: 1;
			margin: 1rem 0 0 1rem;
			padding: .3em .5em;
			position: relative;
			text-transform: uppercase;
		}
		p {
			color: white;
			font-family: $font-stack-simili;
			font-size: $h3-size;
			margin: 1rem;
			position: relative;
		}
	}
}

/* ============== N E W S   S E C T I O N
========================================================== */

.news_section {
	@extend %clearfix;
	border-top: 1px solid #ccc;
	h2 {
		text-transform: uppercase;
		color: $orange-color-elbakin;
		margin: .2em 0 1em 0;
		padding: 0;
		@include rem(2);
	}
	.more_news {
		float: right;
		margin-top: .6em;
	}
	ul {
		list-style: none none;
		margin: 0;
		padding: 0;
		li {
			background: white;
			margin-bottom: 2em;
			&:nth-child(4n+1) {
				clear: left;
			}
			a {
				border: 1px solid #ccc;
				display: block;
				overflow: hidden;
				&:hover, &:focus {
					text-decoration: none;
					p {
						background: $orange-color-elbakin;
						color: white;
					}
				}
				img {
					width: 100%;
					height: auto;
				}
				p {
					display: block;
					font-family: $font-stack-headings;
					padding: 0 .5rem;
					position: relative;
					background: white;
					&:before {
						@include rotate(-3deg);
						background: inherit;
						content: '';
						display: block;
						height: 35px;
						left: -20px;
						position: absolute;
						top: -20px;
						width: 115%;
					}
					span {
						position: relative;
						top: -.5rem;
					}
				}
			}
		}
	}
}

/* ============== V O I R  A U S S I
========================================================== */

#moreover {
	padding: 1em 0 2em 0;
	.simili-title {
		color: white;
		margin-bottom: .5em;
	}
	h2 {
		@include rem(2);
		color: white;
		margin: 1em 0;
		padding: 0;
		text-transform: uppercase;
	}
	#a_la_une {
		background: white;
		padding: 1em;
		@include border-radius(5px);
		h2 {
			color: $base-color-elbakin;
			margin: .5em 0 1em 0;
			padding: 0;
		}
		article {
			text-align: justify;
			a {
				display: block;
				overflow: hidden;
				p {
					display: block;
					font-family: $font-stack-headings;
					@include rem(2.2);
					text-transform: uppercase;
					position: relative;
					background: white;
					&:before {
						@include rotate(-3deg);
						background: inherit;
						content: '';
						display: block;
						height: 35px;
						left: -20px;
						position: absolute;
						top: -20px;
						width: 115%;
					}
					span {
						position: relative;
						top: -.5rem;
					}
				}
			}
		}
	}
	#last_chronicles {
		ul {
			list-style: none none;
			padding: 0;
			img {
				width: 100%;
				height: auto;
			}
			a {
				display: block;
				position: relative;
				img {
					height: 280px;
				}
				&:before {
					background: rgba(255,255,255,0);
					@include transition(background .2s ease-in);
				}
				&:hover {
					&:before {
						@include rem(4);
						background: rgba(255,255,255,0.1);
						color: white;
						content: '\e626';
						display: block;
						font-family: 'icomoon', sans-serif;
						height: 100%;
						left: 0;
						line-height: 280px;
						position: absolute;
						text-align: center;
						top: 0;
						width: 100%;
						z-index: 10;
					}
				}
			}
		}
	}
	#nos_emissions {
		a {
			margin-bottom: 1em;
		}
	}
	#forum {
		h2 {
			a {
				color: white;
			}
		}
		ul {
			list-style: none none;
			padding: 0;
			margin: 0;
			li {
				display: block;
				border-bottom: 1px solid rgba(255,255,255,0.1);
				a {
					color: white;
					display: block;
					padding: .5em 0;
				}
			}
		}
	}
}


	/* ============== R E S P O N S I V E
	========================================================== */

	@media (max-width: $medium-screen) {
		.news_section {
			ul {
				li {
					&:nth-child(2n+1) {
						clear: left;
					}
				}
			}
		}
	}