/********************************************************************************************************************************************************************************
********************* S E C T I O N   B I B L I O T H E Q U E *****************
/********************************************************************************************************************************************************************************/

.page-library {
	.the-header {
		background: transparent;
		.inner-wrap {
			background: transparent;
			height: auto;
		}
	}
	#header_section {
		padding-top: 190px;
		margin-top: -190px;
	}
}

/********************************************************************************************************************************************************************************
********************* C H R O N I Q U E *****************
/********************************************************************************************************************************************************************************/

#la_chronique {
	margin-top: 3em;
	.none {
		display: none;
	}
	.preview {
		margin-bottom: 1em;
		img {
			width: 100%;
			height: auto;
		}
		h2 {
			color: $orange-color-elbakin;
			font-size: $h3-size;
			text-transform: uppercase;
			margin: 1em 0 .5em 0;
			padding: 0;
		}
	}
}
.clickable {
	cursor: pointer;
}
.toolbar {
	list-style: none none;
	margin: 2rem 0 0 0;
	padding: 0;
	text-align: center;
	li {
		@include border-radius(3px);
		border: 1px solid #ccc;
		display: inline-block;
		margin: 0 .5rem;
		padding: 0;
		text-align: inherit;
		&:first-child { margin-left: 0; }
		&:last-child { margin-right: 0; }
		a {
			@include border-radius(2px);
			@include transition(background-color 300ms ease-out);
			background-color: white;
			display: inline-block;
			margin: 0;
			padding: .5rem;
			&:hover, &:active, &:focus {
				background-color: $base-color-elbakin;
				color: white;
				text-decoration: none;
			}
			&.active-link {
				background-color: $base-color-elbakin;
				color: white;
			}
		}
	}
}

/* ================ P R E S E N T A T I O N
===================================================== */

.details {
	p {
		margin: 0;
	}
	.author {
		font-family: $font-stack-special;
		font-weight: bold;
		@include rem(2);
		color: #666;
		text-transform: uppercase;
		a {color: #666;}
	}
	.isbn {
		color: #666;
	}
	.book-title {
		color: $base-color-elbakin;
		@include rem(6);
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
	}
}
.meta {
	margin-top: 2em;
	strong {
		text-transform: uppercase;
	}
	ul {
		list-style: none none;
		margin: 0;
		padding: 0;
	}
}
.extract {
	margin: 1.5em 0 4em 0;
	p {
		@include rem(1.6);
		margin-bottom: 1em;
	}
}
.awards {
	background: white;
	border: 1px solid #ccc;
	margin-top: 1.5em;
	padding: 1rem 1rem 1rem 10rem;
	position: relative;
	li:last-child {
		border: 0;
	}
	h2 {
		color: $orange-color-elbakin;
		text-transform: uppercase;
		@include rem(1.6);
		margin: 0;
		padding: 0;
	}
	&:before {
		@include rem(8);
		color: $orange-color-elbakin;
		content: "\e637";
		display: block;
		font-family: 'icomoon', sans-serif;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-transform: none;
		position: absolute;
		left: 1rem;
		top: 1rem;
		/* Better Font Rendering =========== */
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}
}

/* ================ C R I T I Q U E
===================================================== */

.body-chronique {
	background: #efefef;
	border: 1px solid #ccc;
	margin: 2rem 0 1em;
	position: relative;
	.rating {
		@include rotate(45deg);
		background-color: white;
		border: 1px solid #ccc;
		height: 10rem;
		left: 45%;
		overflow: hidden;
		position: absolute;
		top: -5rem;
		width: 10rem;
		span {
			@include rotate(-45deg);
			color: #ccc;
			font-family: $font-stack-headings;
			line-height: 1;
			position: absolute;
		}
		.note {
			@include rem(4);
			color: $base-color-elbakin;
			display: block;
			font-weight: 900;
			left: 4px;
			text-align: right;
			top: 45px;
			white-space: nowrap;
			width: 60px;
		}
		.sur {
			@include rem(3);
			left: 55%;
			top: 30%;
		}
		.end_note {
			@include rem(2);
			left: 70%;
			top: 25%;
		}
	}
	.reviewed_by {
		@include rem(2);
		color: #666;
		font-family: $font-stack-special;
		margin: 0 0 1em 0;
		text-align: center;
	}
	.review {
		p {
			@include rem(1.6);
			margin: 0 0 1em 0;
			text-align: justify;
		}
		a {
			color: $base-color-elbakin;
		}
	}
	.dropcaps {
		font-family: "Palatino Linotype", Palatino, $font-stack-simili;
		display: block;
		font-style: normal;
		font-size: 6.6em;
		float: left;
		margin: .08em .07em 0 0;
		line-height: .67em;
		color: black;
	}
}

#review-all {
	.tabs {
		@include translate3d(0,-45%,0);
		float: right;
		margin: 0;
		li { margin: 0 1.5rem; }
		a {
			@include border-radius(0);
			@include rotate(45deg);
			background-color: white;
			border: 1px solid #ccc;
			height: 5rem;
			margin: 0;
			overflow: hidden;
			padding: 0;
			text-align: center;
			width: 5rem;
			position: relative;
			font-weight: 400;
			.include {
				@include rotate(-45deg);
				color: #ccc;
				font-family: $font-stack-headings;
				line-height: 1;
				margin: 0;
				padding: 0;
				width: 100%;
				position: absolute;
				top: 6px;
				left: 0;
				span { display: block; margin: 0 auto; text-align: center;}
				.icon {
					@include rem(2);
					color: $orange-color-elbakin;
					margin-bottom: .2rem;
				}
			}
			&:hover, &:active, &:focus, &.active {
				background-color: $base-color-elbakin;
				border-color: white;
				span { color: white; }
				.icon { color: white; }
			}
		}
	}
	.row_tab {
		padding: 1rem;
	}
}

/* ================ D I S C O V E R
===================================================== */

#discover {
	h2 {
		text-transform: uppercase;
	}
}

/* ================ R E S P O N S I V E
===================================================== */

@media (max-width: $medium-screen) {
	.details {
		.book-title {
			@include rem(4);
		}
	}
}
@media (max-width: $small-screen) {
	.details {
		.book-title {
			@include rem(2);
		}
	}
}


/********************************************************************************************************************************************************************************
********************* B I B L I O T H E Q U E *****************
/********************************************************************************************************************************************************************************/

#classement, #most {
	padding: 2rem 0;
	h2 {
		color: $base-color-elbakin;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
	.simili-title {
		margin: 0 0 2rem 0
	}
}
.classement {
	h3 {
		text-transform: uppercase;
		margin: 1em 0 .5em 0;
		padding: 0;
		font-weight: 400;
	}
	.basic_list {
		@include column-count(2);
	}
}
.follow_link {
	float: right;
	.icon {
		position: relative;
		top: 2px;
	}
}

/* ================ H E A D E R
===================================================== */

#form_all {
	margin: 1em 0 0;
	label {
		@include rem(2);
		color: white;
		display: block;
		font-family: $font-stack-simili;
		font-weight: bold;
		padding: 0 0 1em 0;
		text-transform: uppercase;
	}
	[type="text"] {
		@include box-shadow(inset 0 1px 2px rgba(black, 0.1));
		@include rem(1.6);
		@include transition(all 0.15s linear);
		background-color: white;
		border-radius: 0;
		border: 1px solid #ccc;
		color: #444;
		display: block;
		font-family: inherit;
		margin: 0 0 0.88889rem 0;
		min-height: 4.1rem;
		padding: 0.55rem;
		width: 100%;
	}
	.btn {
		margin: 0 auto;
	}
}
#destiny {
	margin: 1em 0 0;
	h2 {
		@include rem(2);
		color: white;
		display: block;
		font-family: $font-stack-simili;
		font-weight: bold;
		margin: 0;
		padding: 0 0 1em 0;
		text-transform: uppercase;
	}
}

/* ================ L I S T S
===================================================== */

#les_listes {
	@extend %clearfix;
	h2 {
		margin: 0 0 .5em 0;
	}
	.flex-list {
		h3 {
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			font-weight: 400;
		}
		article {
			margin-bottom: 2em;
			width: 48%;
			a {
				background: white;
				border: 1px solid #ccc;
				display: block;
				overflow: hidden;
				&:hover, &:focus {
					text-decoration: none;
					p {
						background: $orange-color-elbakin;
						color: white;
					}
				}
				img {
					width: 100%;
					height: auto;
				}
				p {
					background: white;
					display: block;
					font-family: $font-stack-headings;
					padding: 0 .5rem;
					position: relative;
					text-transform: uppercase;
					&:before {
						@include rotate(-3deg);
						background: inherit;
						content: '';
						display: block;
						height: 35px;
						left: -20px;
						position: absolute;
						top: -20px;
						width: 115%;
					}
					span {
						position: relative;
						top: -.5rem;
					}
				}
			}
		}
	}
	.shadow-btn {
		float: right;
	}
}

/* ================ M O S T   V I S I T E D
===================================================== */

#most {
	.article_focus {
		@extend %clearfix;
		@include border-radius(0);
		background: transparent;
		h2 {
			margin-bottom: .5em !important;
		}
		.inner_content {
			@extend %clearfix;
			@include border-radius(5px);
			background: white;
			padding: 1em;
			text-align: justify;
			em {
				color: #666;
				font-family: $font-stack-special;
			}
			a {
				display: block;
				overflow: hidden;
				p {
					display: block;
					font-family: $font-stack-headings;
					@include rem(2.2);
					text-transform: uppercase;
					position: relative;
					background: white;
					text-align: left;
					&:before {
						@include rotate(-3deg);
						background: inherit;
						content: '';
						display: block;
						height: 35px;
						left: -20px;
						position: absolute;
						top: -20px;
						width: 115%;
					}
					span {
						position: relative;
						top: -.5rem;
					}
				}
			}
			.follow_link {
				margin-top: 1rem;
			}
		}
	}
}

/* ================ F I C H E   B I O
===================================================== */

#author_biography {
	margin-top: 3em;
	.life {
		font-family: $font-stack-headings;
		font-weight: bold;
		@include rem(2);
		color: #666;
		text-transform: uppercase;
	}
	.bio-title {
		color: $base-color-elbakin;
		@include rem(6);
		line-height: 1;
		margin: 0 0 2rem 0;
		text-transform: uppercase;
	}
	.basic_list {
		margin-bottom: 2rem;
		strong {
			display: inline-block;
			text-align: right;
			width: 7rem;
		}
		a {
			display: inline-block;
		}
		li:last-child {
			border: 0;
		}
	}
	.bio p {
		margin: 0 0 1em 0;
	}
	.clip-svg {
		width: 0;
		height: 0;
	}
	.portrait {
		width: 50%;
		margin: 0 auto;
		position: relative;
		.blason {
			margin-bottom: 30px;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
.ruban {
	background-color: $base-color-elbakin;
	bottom: -23px;
	color: white;
	height: 45px;
	overflow: hidden;
	padding: 5px 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
	span { line-height: 1; }
	.ruban-text {
		display: block;
		font-family: $font-stack-headings;
		text-transform: uppercase;
	}
	.ruban-deco {
		border-top: 1px solid white;
		display: block;
		margin: 0 auto;
		position: relative;
		text-align: center;
		top: 4px;
		width: 60%;
		&:before, &:after {
			content: '';
			position: absolute;
			top: -5px;
		}
		&:before {
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid white;
			left: -5px;
			right: auto;
		}
		&:after {
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: 5px solid white;
			right: -5px;
			left: auto;
		}
		span {
			background: $base-color-elbakin;
			display: inline-block;
			padding: 0 5px;
			position: relative;
			top: -5px;
		}
	}
	.ruban-text-02 {
		display: block;
		font-family: $font-stack-headings;
		text-transform: uppercase;
		position: relative;
		top: -5px;
	}
}
#author_news {
	padding: 2rem 0;
	.simili-title {
		margin-bottom: 2rem;
	}
	.article_focus {
		margin-bottom: 1em;
	}
	h2 {
		color: $base-color-elbakin;
		margin: 0;
	}
	#breves {
		h2 {
			text-transform: uppercase;
		}
		.basic_list {
			margin-bottom: 1em;
			a {
	   			padding: .5em 0;
			}
		}
		.shadow-btn {
			float: right;
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (max-width: $tiny-screen) {
	#author_biography {
		.bio-title {
			@include rem(5);
			margin-top: 1.5rem;
			text-align: center;
		}
		.basic_list, .bio {
			@include rem(2);
		}
		.basic_list strong {
			width: 9rem;
		}
	}
}
@media (min-width: $tiny-screen) and (max-width: $medium-screen) {
	#author_biography {
		.portrait {
			width: 80%;
		}
	}
}


/* ================ M A N G A S
===================================================== */

.page-library_manga {}