/********************************************************************************************************************************************************************************
********************* S E C T I O N   E M I S S I O N S *****************
/********************************************************************************************************************************************************************************/

.page-emission {
	.the-header {
		background: transparent;
		.inner-wrap {
			background: transparent;
		}
	}
	#header_section {
		padding-top: 190px;
		margin-top: -190px;
	}
}

#une_emission {
	padding: 2rem 0;
	.article_focus {
		background: transparent;
		padding: 0;
		.inner_content {
			background: white;
			@include border-radius(5px);
			padding: 1em;
			text-align: justify;
		}
	}
	h2 {
		color: #be2700;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
}

#all_pods {
	padding: 2rem 0;
	.shadow-btn {
		float: right;
	}
}

.legend-pod {
	color: $base-color;
	dt, dd {
		display: inline-block;
		margin: 0;
		vertical-align: top;
	}
	dt {
		font-weight: 600;
	}
}

#explanation {
	ul {
		list-style: none none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin-right: 1em;
	}
	.icon-01 {
		a {
			border-color: dodgerblue;
			color: dodgerblue;
			&:hover {
				background-color: dodgerblue;
				color: white;
			}
		}
	}
	.icon-02 {
		a {
			border-color: #a4c639;
			color: #a4c639;
			&:hover {
				background-color: #a4c639;
				color: white;
			}
		}
	}
	.icon-03 {
		a {
			border-color: darkorange;
			color: darkorange;
			&:hover {
				background-color: darkorange;
				color: white;
			}
		}
	}
}