/********************************************************************************************************************************************************************************
********************* S E C T I O N   E M I S S I O N S *****************
/********************************************************************************************************************************************************************************/

.page-emission {
	.the-header {
		background: transparent;
		.inner-wrap {
			background: transparent;
		}
	}
	#header_section {
		padding-top: 190px;
		margin-top: -190px;
	}
}