/********************************************************************************************************************************************************************************
********************* H O M E *****************
/********************************************************************************************************************************************************************************/


/* ============== B L O C   N O S   A R T I C L E S
========================================================== */

#other_news {padding: 2rem 0;}
#articles, #itws {
	.main-article {
		background: white;
		border: 1px solid #ccc;
		min-height: 260px;
		img {
			width: 100%;
			height: auto;
			max-height: 200px;
		}
		.the-title {
			margin: 0;
			padding: 10px;
			line-height: 1;
			@include rem(2);
		}
	}
	h2 {
		text-transform: uppercase;
		@include rem(2);
		margin: 1em 0;
		padding: 0;
	}
	ul {
		list-style: none none;
		padding: 0;
		margin: 0;
		li {
			display: block;
			border-bottom: 1px solid #ccc;
			a {
				display: block;
				padding: .5em 0;
			}
		}
	}
}

/* ============== B L O C   A S S O C I A T I O N
========================================================== */

#association {
	background: #f3f3f3;
	text-align: center;
	padding: 2rem 0;
	.asso_card {
		@include transition(all .2s ease-out);
		@include border-radius(3px);
		background: white;
		display: inline-block;
		margin: 0 1rem;
		padding: 1rem;
		height: 32rem;
		vertical-align: top;
		@extend %clearfix;
		.icon {
			@include rem(5);
			color: $base-color-elbakin;
			display: block;
			margin: 2rem auto 0;
			text-align: center;
		}
		h2 {
			@include font-kerning();
			font-variant: small-caps;
			font-weight: 700;
			text-align: center;
			text-transform: lowercase;
		}
		p {
			color: #6D6D6D;
			text-align: left;
		}
		&:hover {
			@include scale(1.05);
			background: $orange-color-elbakin;
			cursor: pointer;
			p, .icon {
				color: white;
			}
		}
	}
	.btn {
		margin: 1em auto 0;
		clear: both;
	}
}

/* ============== B L O C   O P I N I O N S
========================================================== */

#opinions {
	padding: 2rem 0;
	ul {
		list-style: none none;
		padding: 0;
		margin: 0;
		li {
			display: block;
			border-bottom: 1px solid #ccc;
			a {
				display: block;
				padding: .5em 0;
			}
		}
	}
}
#edito {
	h3 {
		text-transform: uppercase;
		@include rem(1.8);
		margin: 1em 0;
		padding: 0;
		font-weight: 300;
	}
}
#hot {
	background: white;
	@include border-radius(5px);
	padding: 0 2rem 2rem;
	a {
		color: $base-color-elbakin;
	}
}
#edito, #hot {
	blockquote {
		font-family: $font-stack-special;
		font-style: italic;
		font-weight: 300;
		margin: 0;
		@include rem(1.5);
		@include font-kerning();
		p {
			margin: 0;
		}
		footer {
			text-align: right;
			font-style: normal;
			cite {
				font-family: $font-stack-caps;
				font-weight: 500;
				font-style: normal;
				@include rem(1.4);
				@include font-kerning();
			}
		}
	}
}

/* ============== B L O C   N O S   E M I S S I O N S
========================================================== */

#emissions {
	padding: 2rem 0;
	h2 {
		color: $base-color-elbakin;
	}
	h3 {
		color: $orange-color-elbakin;
		text-transform: uppercase;
		@include rem(1.8);
		margin: 1em 0;
		padding: 0;
		font-weight: 300;
	}
	ul {
		list-style: none none;
		padding: 0;
		margin: 0;
		li {
			display: block;
			border-bottom: 1px solid #ccc;
			a {
				display: block;
				padding: .5em 0;
			}
		}
	}
}

/* ============== B L O C   P R I X   E L B A K I N . N E T
======================================================================== */

#prix_elbakin_net {
	padding: 2rem 0;
	@include translate(0,0);
	h3 {
		@include rem(2);
		font-weight: 400;
		position: relative;
		text-transform: uppercase;
	}
	p {
		@include rem(1.8);
		font-family: $font-stack-simili;
		font-weight: 300;
		.dropcaps {
			color: white;
			display: block;
			float: left;
			font-family: "Palatino Linotype", Palatino, $font-stack-simili;
			font-size: 6.6em;
			font-style: normal;
			line-height: .67em;
			margin: .08em .07em 0 0;
		}
	}
	li {
		h3 {
			font-weight: 700;
		}
	}
}
.all_prices {
	list-style: none none;
	padding: 0;
	margin: 6rem 0 0 40px;
	position: relative;
	height: 280px;
	li {
		position: absolute;
		display: inline-block;
		margin: 0;
		&:nth-child(2) {
			left: 113px;
			top: 113px;
		}
		&:nth-child(3) {
			left: 226px;
			top: 0;
		}
		&:nth-child(4) {
			left: 339px;
			top: 113px;
		}
		&:nth-child(5) {
			left: 453px;
			top: 0;
		}
		&:nth-child(6) {
			left: 566px;
			top: 113px;
		}
		&:nth-child(7) {
			@include opacity(0.8);
			left: 679px;
			top: 0;
		}
	}
	.le-prix {
		@include rotate(45deg);
		background: white;
		border: thick solid white;
		height: 140px;
		position: relative;
		width: 140px;
		overflow: hidden;
		.contenu-prix {
			@include rotate(-45deg);
			left: 0;
			position: absolute;
			text-align: center;
			top: 0;
			width: 140px;
			z-index: 10;
			img {
				position: absolute;
				left: -40%;
				@include scale(1.4);
				top: -20px;
			}
			.detail_price {
				background: rgba(255,255,255,0.7);
				left: -28%;
				position: absolute;
				top: 17px;
				width: 120px;
				&:hover {
					background: white;
					h3::after {
						background: #ccc;
					}
				}
				h3 {
					font-family: $font-stack-simili;
					color: $base-color-elbakin;
					margin: 0;
					&:after {
						background: white;
						bottom: 0;
						content: '';
						display: block;
						height: 1px;
						left: 10%;
						position: absolute;
						width: 80%;
					}
				}
				a {
					color: black;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}

/* ============== B L O C   A G E N D A
========================================================== */

#agenda_parutions {
	padding: 2rem 0 1rem 0;
}

/* ============== B L O C   E L B A K I N
========================================================== */

#elbakin {
	padding: 2rem 0;
	.saint_marc {
		@extend %clearfix;
		list-style: none none;
		margin: 0 2rem 0;
		padding: 0;
		position: relative;
		&:before {
			content: '';
			display: block;
			height: 100%;
			width: 3px;
			background: #ECE9E6;
			position: absolute;
			top: 0;
			left: 50%;
			@include border-radius(3px);
		}
		li {
			@extend %clearfix;
			display: block;
			width: 100%;
			margin: 1rem 0;
			&:nth-child(odd) {
				.evangile {
					text-align: right;
					float: left !important;
					&:after {
						top: 45%;
						right: -15px;
						left: auto;
					}
					.icon {
						float: right;
						margin: 0 0 0 1rem;
					}
				}
			}
		}
		.evangile {
			@extend %clearfix;
			@include border-radius(35px);
			background: #ECE9E6;
			float: right;
			padding: 10px;
			text-align: left;
			width: 47%;
			position: relative;
			&:after {
				position: absolute;
				top: 45%;
				left: -12px;
				right: auto;
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				@include border-radius(3px);
				background: #ECE9E6;
			}
			h2 {
				display: inline-block;
				@include rem(1.6);
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				span {
					color: $base-color-elbakin;
				}
			}
			p {
				font-style: italic;
			}
			.icon {
				@include border-radius(30px);
				@include rem(2.5);
				background: $base-color-elbakin;
				color: white;
				float: left;
				height: 50px;
				line-height: 30px;
				margin: 0 1rem 0 0;
				padding: 10px;
				text-align: center;
				width: 50px;
			}
		}
	}
	aside {
		@include gradient(#ECE9E6,#FFFFFF);
		padding: .1rem 2rem 2rem;
		@include border-radius(5px);
		.icon {
			color: $orange-color-elbakin;
		}
		&+h2 {
			text-transform: uppercase;
			@include rem(1.6);
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (max-width: $medium-screen) {
	#all_new_chronique {
		.row_tab_all {
			height: 270px;
		}
		.critiques {
			li:nth-child(-n+6) {
				display: block;
				img {
					height: 240px;
				}
			}
			li {
				display: none;
			}
		}
	}
	#association {
		.asso_card {
			height: 26rem;
			margin-bottom: 2rem;
			&:hover {
				@include scale(1);
			}
		}
	}
	#prix_elbakin_net {
		background-attachment: scroll !important;
	}
}
@media (min-width: $small-screen) and (max-width: $medium-screen) {
	#all_new_chronique {
		#chroniques {
			.row_tab_all {
				height: 310px;
			}
			.critiques {
				li:nth-child(-n+4) {
					display: block;
					img {
						height: 290px;
					}
				}
				li {
					display: none;
				}
			}
		}
	}
}
@media (min-width: $tiny-screen) and (max-width: $small-screen) {
	#association {
		.asso_card {
			height: auto;
			&:hover {
				@include scale(1);
			}
			.icon {
				float: left;
				margin-right: 2rem;
			}
			h2 {
				text-align: left;
			}
		}
	}
	#prix_elbakin_net {
		.all_prices {
			margin: 2rem auto 0;
			height: auto;
			width: 100%;
			text-align: center;
			li {
				position: static;
				display: inline-block;
				@include rotate(0);
				.le-prix {
					height: 200px;
				}
				.contenu-prix {
					position: relative;
					img {
						position: static;
						width: 100%;
						height: auto;
					}
					.detail_price {
						position: absolute;
						left: -5px;
						top: 10%;
						width: 140px;
					}
				}
				* {
					@include rotate(0);
				}
			}
		}
	}
}
@media (max-width: $tiny-screen) {
	.tabs {
		@include rem(1.3);
	}
	.desc_crit {
		.h2_like, .type_item, .desc_item {
			display: none;
		}
	}
	#all_new_chronique {
		#chroniques {
			.row_tab_all {
				height: 350px !important;
			}
			.all_chronicles {
				display: block;
				float: none;
				margin: 0 auto 1em auto;
				text-align: center;
				width: 200px;
			}
			.critiques {
				li:nth-child(-n+6) {
					display: block !important;
					margin-bottom: 1em;
					img {
						height: 160px;
					}
				}
				li {
					display: none !important;
				}
			}
		}
	}
	#prix_elbakin_net {
		.all_prices {
			margin: 2rem auto 0;
			height: auto;
			width: 100%;
			text-align: center;
			li {
				position: static;
				display: inline-block;
				@include rotate(0);
				.le-prix {
					height: 200px;
				}
				.contenu-prix {
					position: relative;
					img {
						position: static;
						width: 100%;
						height: auto;
					}
					.detail_price {
						position: absolute;
						left: -5px;
						top: 10%;
						width: 140px;
					}
				}
				* {
					@include rotate(0);
				}
			}
		}
	}
	#elbakin {
		display: none;
	}
	#association {
		.asso_card {
			height: auto;
			&:hover {
				@include scale(1);
			}
		}
	}
}