@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('#{$icomoon-font-path}/icomoon.eot?i9yl2j');
    src:    url('#{$icomoon-font-path}/icomoon.eot?i9yl2j#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf?i9yl2j') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff?i9yl2j') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg?i9yl2j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-steam {
    &:before {
        content: $icon-steam;
    }
}
.icon-users {
    &:before {
        content: $icon-users;
    }
}
.icon-apple {
    &:before {
        content: $icon-apple;
    }
}
.icon-android {
    &:before {
        content: $icon-android;
    }
}
.icon-exclamation-triangle {
    &:before {
        content: $icon-exclamation-triangle;
    }
}
.icon-shield {
    &:before {
        content: $icon-shield;
    }
}
.icon-mail {
    &:before {
        content: $icon-mail;
    }
}
.icon-minus {
    &:before {
        content: $icon-minus;
    }
}
.icon-folder-minus {
    &:before {
        content: $icon-folder-minus;
    }
}
.icon-cross {
    &:before {
        content: $icon-cross;
    }
}
.icon-folder-plus {
    &:before {
        content: $icon-folder-plus;
    }
}
.icon-warning {
    &:before {
        content: $icon-warning;
    }
}
.icon-unlocked {
    &:before {
        content: $icon-unlocked;
    }
}
.icon-shield2 {
    &:before {
        content: $icon-shield2;
    }
}
.icon-lock {
    &:before {
        content: $icon-lock;
    }
}
.icon-camera {
    &:before {
        content: $icon-camera;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-linkedin2 {
    &:before {
        content: $icon-linkedin2;
    }
}
.icon-link {
    &:before {
        content: $icon-link;
    }
}
.icon-printer {
    &:before {
        content: $icon-printer;
    }
}
.icon-list-numbered {
    &:before {
        content: $icon-list-numbered;
    }
}
.icon-question {
    &:before {
        content: $icon-question;
    }
}
.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}
.icon-arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}
.icon-arrow-up {
    &:before {
        content: $icon-arrow-up;
    }
}
.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}
.icon-lifebuoy {
    &:before {
        content: $icon-lifebuoy;
    }
}
.icon-price-tags {
    &:before {
        content: $icon-price-tags;
    }
}
.icon-price-tag {
    &:before {
        content: $icon-price-tag;
    }
}
.icon-bookmarks {
    &:before {
        content: $icon-bookmarks;
    }
}
.icon-bookmark {
    &:before {
        content: $icon-bookmark;
    }
}
.icon-star-half {
    &:before {
        content: $icon-star-half;
    }
}
.icon-star-full {
    &:before {
        content: $icon-star-full;
    }
}
.icon-star-empty {
    &:before {
        content: $icon-star-empty;
    }
}
.icon-cog {
    &:before {
        content: $icon-cog;
    }
}
.icon-bubbles {
    &:before {
        content: $icon-bubbles;
    }
}
.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-share {
    &:before {
        content: $icon-share;
    }
}
.icon-cart {
    &:before {
        content: $icon-cart;
    }
}
.icon-fire {
    &:before {
        content: $icon-fire;
    }
}
.icon-quotes-right {
    &:before {
        content: $icon-quotes-right;
    }
}
.icon-quotes-left {
    &:before {
        content: $icon-quotes-left;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-user {
    &:before {
        content: $icon-user;
    }
}
.icon-clock {
    &:before {
        content: $icon-clock;
    }
}
.icon-clock2 {
    &:before {
        content: $icon-clock2;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-feed {
    &:before {
        content: $icon-feed;
    }
}
.icon-feed2 {
    &:before {
        content: $icon-feed2;
    }
}
.icon-feed3 {
    &:before {
        content: $icon-feed3;
    }
}
.icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}
.icon-youtube2 {
    &:before {
        content: $icon-youtube2;
    }
}
.icon-youtube3 {
    &:before {
        content: $icon-youtube3;
    }
}
.icon-image {
    &:before {
        content: $icon-image;
    }
}
.icon-podcast {
    &:before {
        content: $icon-podcast;
    }
}
.icon-book {
    &:before {
        content: $icon-book;
    }
}
.icon-books {
    &:before {
        content: $icon-books;
    }
}
.icon-plus {
    &:before {
        content: $icon-plus;
    }
}
.icon-quill {
    &:before {
        content: $icon-quill;
    }
}
.icon-trophy {
    &:before {
        content: $icon-trophy;
    }
}
.icon-heart-broken {
    &:before {
        content: $icon-heart-broken;
    }
}
.icon-heart {
    &:before {
        content: $icon-heart;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-twitter2 {
    &:before {
        content: $icon-twitter2;
    }
}
.icon-twitter3 {
    &:before {
        content: $icon-twitter3;
    }
}
.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-facebook2 {
    &:before {
        content: $icon-facebook2;
    }
}
.icon-facebook3 {
    &:before {
        content: $icon-facebook3;
    }
}
.icon-google-plus {
    &:before {
        content: $icon-google-plus;
    }
}
.icon-google-plus2 {
    &:before {
        content: $icon-google-plus2;
    }
}
.icon-google-plus3 {
    &:before {
        content: $icon-google-plus3;
    }
}
.icon-plus2 {
    &:before {
        content: $icon-plus2;
    }
}

