@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?i9yl2j');
    src:    url('fonts/icomoon.eot?i9yl2j#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?i9yl2j') format('truetype'),
        url('fonts/icomoon.woff?i9yl2j') format('woff'),
        url('fonts/icomoon.svg?i9yl2j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-steam:before {
    content: "\e902";
}
.icon-users:before {
    content: "\e903";
}
.icon-apple:before {
    content: "\e900";
}
.icon-android:before {
    content: "\e901";
}
.icon-exclamation-triangle:before {
    content: "\e600";
}
.icon-shield:before {
    content: "\e601";
}
.icon-mail:before {
    content: "\e602";
}
.icon-minus:before {
    content: "\e603";
}
.icon-folder-minus:before {
    content: "\e604";
}
.icon-cross:before {
    content: "\e605";
}
.icon-folder-plus:before {
    content: "\e606";
}
.icon-warning:before {
    content: "\e607";
}
.icon-unlocked:before {
    content: "\e608";
}
.icon-shield2:before {
    content: "\e609";
}
.icon-lock:before {
    content: "\e60a";
}
.icon-camera:before {
    content: "\e60b";
}
.icon-linkedin:before {
    content: "\e60c";
}
.icon-linkedin2:before {
    content: "\e60d";
}
.icon-link:before {
    content: "\e60e";
}
.icon-printer:before {
    content: "\e60f";
}
.icon-list-numbered:before {
    content: "\e610";
}
.icon-question:before {
    content: "\e611";
}
.icon-arrow-left:before {
    content: "\e612";
}
.icon-arrow-down:before {
    content: "\e613";
}
.icon-arrow-up:before {
    content: "\e614";
}
.icon-arrow-right:before {
    content: "\e615";
}
.icon-lifebuoy:before {
    content: "\e616";
}
.icon-price-tags:before {
    content: "\e617";
}
.icon-price-tag:before {
    content: "\e618";
}
.icon-bookmarks:before {
    content: "\e619";
}
.icon-bookmark:before {
    content: "\e61a";
}
.icon-star-half:before {
    content: "\e61b";
}
.icon-star-full:before {
    content: "\e61c";
}
.icon-star-empty:before {
    content: "\e61d";
}
.icon-cog:before {
    content: "\e61e";
}
.icon-bubbles:before {
    content: "\e61f";
}
.icon-home:before {
    content: "\e620";
}
.icon-share:before {
    content: "\e621";
}
.icon-cart:before {
    content: "\e622";
}
.icon-fire:before {
    content: "\e623";
}
.icon-quotes-right:before {
    content: "\e624";
}
.icon-quotes-left:before {
    content: "\e625";
}
.icon-calendar:before {
    content: "\e626";
}
.icon-user:before {
    content: "\e627";
}
.icon-clock:before {
    content: "\e628";
}
.icon-clock2:before {
    content: "\e629";
}
.icon-search:before {
    content: "\e62a";
}
.icon-feed:before {
    content: "\e62b";
}
.icon-feed2:before {
    content: "\e62c";
}
.icon-feed3:before {
    content: "\e62d";
}
.icon-youtube:before {
    content: "\e62e";
}
.icon-youtube2:before {
    content: "\e62f";
}
.icon-youtube3:before {
    content: "\e630";
}
.icon-image:before {
    content: "\e631";
}
.icon-podcast:before {
    content: "\e632";
}
.icon-book:before {
    content: "\e633";
}
.icon-books:before {
    content: "\e634";
}
.icon-plus:before {
    content: "\e635";
}
.icon-quill:before {
    content: "\e636";
}
.icon-trophy:before {
    content: "\e637";
}
.icon-heart-broken:before {
    content: "\e638";
}
.icon-heart:before {
    content: "\e639";
}
.icon-twitter:before {
    content: "\e63a";
}
.icon-twitter2:before {
    content: "\e63b";
}
.icon-twitter3:before {
    content: "\e63c";
}
.icon-facebook:before {
    content: "\e63d";
}
.icon-facebook2:before {
    content: "\e63e";
}
.icon-facebook3:before {
    content: "\e63f";
}
.icon-google-plus:before {
    content: "\e640";
}
.icon-google-plus2:before {
    content: "\e641";
}
.icon-google-plus3:before {
    content: "\e642";
}
.icon-plus2:before {
    content: "\e643";
}

