$icomoon-font-path: "fonts" !default;

$icon-steam: "\e902";
$icon-users: "\e903";
$icon-apple: "\e900";
$icon-android: "\e901";
$icon-exclamation-triangle: "\e600";
$icon-shield: "\e601";
$icon-mail: "\e602";
$icon-minus: "\e603";
$icon-folder-minus: "\e604";
$icon-cross: "\e605";
$icon-folder-plus: "\e606";
$icon-warning: "\e607";
$icon-unlocked: "\e608";
$icon-shield2: "\e609";
$icon-lock: "\e60a";
$icon-camera: "\e60b";
$icon-linkedin: "\e60c";
$icon-linkedin2: "\e60d";
$icon-link: "\e60e";
$icon-printer: "\e60f";
$icon-list-numbered: "\e610";
$icon-question: "\e611";
$icon-arrow-left: "\e612";
$icon-arrow-down: "\e613";
$icon-arrow-up: "\e614";
$icon-arrow-right: "\e615";
$icon-lifebuoy: "\e616";
$icon-price-tags: "\e617";
$icon-price-tag: "\e618";
$icon-bookmarks: "\e619";
$icon-bookmark: "\e61a";
$icon-star-half: "\e61b";
$icon-star-full: "\e61c";
$icon-star-empty: "\e61d";
$icon-cog: "\e61e";
$icon-bubbles: "\e61f";
$icon-home: "\e620";
$icon-share: "\e621";
$icon-cart: "\e622";
$icon-fire: "\e623";
$icon-quotes-right: "\e624";
$icon-quotes-left: "\e625";
$icon-calendar: "\e626";
$icon-user: "\e627";
$icon-clock: "\e628";
$icon-clock2: "\e629";
$icon-search: "\e62a";
$icon-feed: "\e62b";
$icon-feed2: "\e62c";
$icon-feed3: "\e62d";
$icon-youtube: "\e62e";
$icon-youtube2: "\e62f";
$icon-youtube3: "\e630";
$icon-image: "\e631";
$icon-podcast: "\e632";
$icon-book: "\e633";
$icon-books: "\e634";
$icon-plus: "\e635";
$icon-quill: "\e636";
$icon-trophy: "\e637";
$icon-heart-broken: "\e638";
$icon-heart: "\e639";
$icon-twitter: "\e63a";
$icon-twitter2: "\e63b";
$icon-twitter3: "\e63c";
$icon-facebook: "\e63d";
$icon-facebook2: "\e63e";
$icon-facebook3: "\e63f";
$icon-google-plus: "\e640";
$icon-google-plus2: "\e641";
$icon-google-plus3: "\e642";
$icon-plus2: "\e643";

