/* ============== B L O C   E L B A K I N
========================================================== */

#elbakin {
	padding: 2rem 0;
	.saint_marc {
		@extend %clearfix;
		list-style: none none;
		margin: 0 2rem 0;
		padding: 0;
		position: relative;
		&:before {
			content: '';
			display: block;
			height: 100%;
			width: 3px;
			background: #ECE9E6;
			position: absolute;
			top: 0;
			left: 50%;
			@include border-radius(3px);
		}
		li {
			@extend %clearfix;
			display: block;
			width: 100%;
			margin: 1rem 0;
			&:nth-child(odd) {
				.evangile {
					text-align: right;
					float: left !important;
					&:after {
						top: 45%;
						right: -15px;
						left: auto;
					}
					.icon {
						float: right;
						margin: 0 0 0 1rem;
					}
				}
			}
		}
		.evangile {
			@extend %clearfix;
			@include border-radius(35px);
			background: #ECE9E6;
			float: right;
			padding: 10px;
			text-align: left;
			width: 47%;
			position: relative;
			&:after {
				position: absolute;
				top: 45%;
				left: -12px;
				right: auto;
				content: '';
				display: block;
				width: 5px;
				height: 5px;
				@include border-radius(3px);
				background: #ECE9E6;
			}
			h2 {
				display: inline-block;
				@include rem(1.6);
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				span {
					color: $base-color-elbakin;
				}
			}
			p {
				font-style: italic;
			}
			.icon {
				@include border-radius(30px);
				@include rem(2.5);
				background: $base-color-elbakin;
				color: white;
				float: left;
				height: 50px;
				line-height: 30px;
				margin: 0 1rem 0 0;
				padding: 10px;
				text-align: center;
				width: 50px;
			}
		}
	}
	aside {
		@include gradient(#ECE9E6,#FFFFFF);
		padding: .1rem 2rem 2rem;
		@include border-radius(5px);
		.icon {
			color: $orange-color-elbakin;
		}
		&+h2 {
			text-transform: uppercase;
			@include rem(1.6);
		}
	}
}