/* ============== B L O C   C H R O N I Q U E S
========================================================== */

#all_new_chronique {
	padding: 2rem 0 1rem 0;
	.h2_like {
		font-weight: 400;
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
		& + p {
			font-style: italic;
			margin-bottom: .5em;
		}
		& + p + p {
			margin-bottom: 1em;
		}
	}
	.type_item {
		font-family: $font-stack-special;
		@include rem(2);
		span {
			font-family: $font-stack-caps;
		}
	}
	.critiques {
		@extend %clearfix;
		list-style: none none;
		margin: 0;
		padding: 0;
		li {
			> a {
				display: block;
				position: relative;
				&:before {
					background: rgba(255,255,255,0.1);
				}
				&:hover {
					&:before {
						@include rem(4);
						color: white;
						content: '\e626';
						display: block;
						font-family: 'icomoon', sans-serif;
						height: 100%;
						left: 0;
						line-height: 280px;
						position: absolute;
						text-align: center;
						top: 0;
						width: 100%;
						z-index: 10;
					}
				}
				img {
					width: 100%;
					height: auto;
				}
			}
			span, p {
				@extend %visuallyhidden;
			}
		}
	}
}

/* ============== B L O C   O N G L E T S
========================================================== */

.all_chronicles {
	@include border-radius(3px);
	background: transparent;
	border: 2px solid white;
	color: white;
	display: inline-block;
	float: right;
	font-family: $font-stack-condensed;
	font-weight: 700;
	padding: .5em 1.2em;
	text-transform: uppercase;
	&:hover, &:focus, &:active {
		background: white;
		color: black;
		text-decoration: none;
	}
}
.tabs {
	float: left;
	list-style: none none;
	margin: 0 0 1em 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			@include border-radius(3px);
			@include transition(background .2s ease-out);
			background: transparent;
			color: white;
			display: inline-block;
			font-family: $font-stack-condensed;
			font-weight: 700;
			padding: .5em 1em;
			text-transform: uppercase;
			&.active, &:hover, &:focus {
				background: white;
				color: black;
				text-decoration: none;
			}
		}
	}
}
.row_tab_all {
	clear: both;
}
.row_tab {
	@include transition(all .2s ease-out);
	display: none;
	width: 100%;
	&.open {
		display: block;
		.active {
			position: relative;
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (min-width: $large-screen) {
	.desc_crit {
		height: 160px;
		max-height: 160px;
	}
}
@media (max-width: $medium-screen) {
}
@media (min-width: $small-screen) and (max-width: $medium-screen) {
	.desc_crit {
		height: 180px;
		max-height: 180px;
	}
}
@media (max-width: $small-screen) {
	.tabs {
		@include rem(1.3);
		float: none;
		text-align: center;
	}
	.desc_crit {
		display: none;
	}
	#all_new_chronique {
		#chroniques {
			.all_chronicles {
				display: block;
				float: none;
				margin: 0 auto 1em auto;
				text-align: center;
				width: 200px;
			}
			.critiques {
				.columns {
					margin-bottom: 2em;
				}
				img {
					height: 250px;
				}
			}
		}
	}
}