/* ============== C H R O N O
========================================================== */

#chrono {
	background: white;
	border: 1px solid #ccc;
	margin-bottom: 2rem;
	.header_chrono {
		background: #BE2700;
		padding: 1rem;
		* {
			display: inline-block;
			vertical-align: middle;
		}
		option {
			display: block;
		}
		h2 {
			@include rem(2.1);
			color: white;
			font-family: $font-stack-headings;
			line-height: 1;
			margin: 0 1rem 0 0;
			padding: 0;
			text-transform: uppercase;
			.icon {
				@include scale(0.8);
				vertical-align: top;
			}
		}
		select {
			border: 0;
			font-family: $font-stack-condensed;
			width: 55%;
			margin: 0 1rem 0 0;
		}
		.rss {
			color: white;
		}
	}
	ul {
		list-style: none none;
		padding: 0;
	}
	.scroller_chrono {
		abbr {
			border: 0;
		}
		li {
			border-bottom: 1px solid #ccc;
			@include rem(1.3);
			padding: .5rem 0;
			&:hover {
				background: #efefef;
			}
		}
		span, a {
			display: inline-block;
			vertical-align: text-top;
		}
		span {
			font-weight: 700;
			text-align: center;
			width: 15%;
		}
		a {
			width: 85%;
		}
	}
	.footer_chrono {
		background: #efefef;
		padding: 1rem;
		ul, li {
			display: inline-block;
		}
		li {
			font-weight: 700;
			vertical-align: top;
		}
		ul + a {
			@include rem(1.2);
			background-color: $base-color-elbakin;
			color: white;
			display: inline-block;
			float: right;
			padding: 2px 5px;
			text-align: right;
		}
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (max-width: $large-screen) {
	#chrono {
		margin-top: 2rem;
		.header_chrono {
			select {
				width: 43%;
			}
		}
	}
}