/* ============== B L O C   N O S   E M I S S I O N S
========================================================== */

#emissions {
	padding: 2rem 0;
	h2 {
		color: $base-color-elbakin;
		text-align: center;
	}
	h3 {
		color: $base-color-elbakin;
		text-transform: uppercase;
		@include rem(1.8);
		margin: 1em 0 0 0;
		padding: 0;
		font-weight: 300;
	}
	ul {
		list-style: none none;
		padding: 0;
		margin: 0;
		li {
			display: block;
			border-bottom: 1px solid #ccc;
			a {
				display: block;
				padding: .5em 0;
			}
		}
	}
}
#dmud {
	.article_focus {
		background: white url('../../images/illustrations/dmud.jpg') no-repeat bottom right;
	}
	li:nth-last-child(-n+4) {
		width: 50%;
	}
}

/* ============== RESPONSIVE EMISSIONS
========================================================== */

@media (max-width: $small-screen) {
	.article_focus {
		margin-bottom: 10px;
	}
}
@media (max-width: $medium-screen) {
	#dmud {
		.article_focus {
			background: white none;
		}
		li:nth-last-child(-n+4) {
			width: 100%;
		}
	}
}