/********************************************************************************************************************************************************************************
********************* F O R M S *****************
/********************************************************************************************************************************************************************************/

#forms-website {
	@include gradient-h(#C04848, #480048);
	color: white;
	margin: 2em 0 0;
	padding-bottom: 2rem;
	.simili-title {
		margin: 1em 0;
	}
}
#form-sign-in, #form-log-in {
	.row {
		width: 80%;
		margin: 0 auto;
	}
}

/* ==========================================================================
   $IN GENERAL
   ========================================================================== */

   .prefix, .suffix {
		display: block;
		height: 3rem;
		line-height: 3rem;
		overflow: visible;
		padding-bottom: 0;
		padding-top: 0;
		position: relative;
		text-align: center;
		width: 100%;
		z-index: 2;
   }
   .suffix {
		@include border-radius(0 2px 2px 0);
		background-color: $base-color-elbakin;
		color: white;
   }
   .prefix {
		@include border-radius(2px 0 0 2px);
		background-color: $base-color-elbakin;
		color: white;
   }
   .card {
		@include border-radius(5px);
		background: white;
		padding: 1rem;
		color: $base-color;
		.form-desc {
			color: #666;
			margin-bottom: 1em;
		}
   }
   .form {
		label {
			color: $base-color;
			cursor: pointer;
			display: block;
			font-family: $font-stack-headings;
			text-transform: uppercase;
		}
		input[type=text], input[type=password], textarea {
			@include border-radius(0 3px 3px 0);
			background-color: #FFF;
			border-style: solid;
			border-width: 1px;
			border-color: #CCC;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
			color: rgba(0, 0, 0, 0.75);
			display: block;
			font-family: inherit;
			height: 3rem;
			margin: 0px 0px 0.88889rem;
			padding: 0.44444rem;
			width: 100%;
		}
		textarea {
			resize: vertical;
			height: 10rem;
		}
		input[type=submit] {
			margin: 1em auto;
		}
   }
   .chose-an-avatar {
   		padding: 0 0 1em 0;
		.inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
			&+ label {
				@include border-radius(50%);
				background: #eaeaea;
				border: 2px solid #ccc;
				display: block;
				height: 110px;
				margin: 0 auto;
				position: relative;
				text-indent: -999em;
				width: 110px;
				&:before {
					@include transition(opacity .2s);
					@include opacity(0.5);
					@include rem(3);
					@include translate(0,35px);
					content: '\e631';
					font-family: 'icomoon', sans-serif;
					left: 0;
					line-height: 1;
					position: absolute;
					text-align: center;
					text-indent: 0;
					top: 0;
					width: 100%;
				}
				&:hover {
					&:before {
						@include opacity(1);
					}
				}
			}
	   		&:focus {
	   			+ label {
					outline: 1px dotted #000;
					outline: -webkit-focus-ring-color auto 5px;
	   			}
	   		}
		}
   }

/* ==========================================================================
   $SPECIFIC LOG IN
   ========================================================================== */

	#form-log-in {
		.simili-title { color: white; }
		&.card {
			@include border-radius(0);
			background: transparent;
			padding: 0;
			color: inherit;
			.form {
				@include border-radius(5px);
				background: white;
				padding: 1rem;
				color: $base-color;
			}
		}
	}

/* ==========================================================================
   $FLIPPING FORMS
   ========================================================================== */

	.flip-container {
		@include perspective(800px);
		position: relative;
		width: 100%;
		.flipped {
			transform: translateX(-100%) rotateY(-180deg);
			.front .simili-title { visibility: hidden; }
		}
	}
	#cards {
		@include transform-style(preserve-3d);
		@include transition(transform .5s);
		@include transform-origin(right center);
		height: 250px;
		position: absolute;
		width: 100%;
		.to-flip {
			@include backface-visibility(hidden);
			color: $base-color;
			display: block;
			height: 100%;
			margin: 0;
			position: absolute;
			width: 100%;
		}
		.back {
			@include rotateY(180deg);
			z-index: 3;
			aside {
				@include border-radius(5px);
				background: white;
				height: 433px;
			}
			.btn { margin: 0 auto 1em auto; }
			.simili-title { color: white; }
			.basic_list {
				padding: 1rem;
				.icon {
					@include rem(4);
					color: $base-color-elbakin;
					float: left;
					margin-right: 1rem;
				}
				ul { margin-top: 1rem; }
				li {
					margin-bottom: 1rem;
					padding: 0 0 1rem 0;
					&:last-child {
						border: 0;
						margin: 0;
					}
					li {
						&:last-child { margin: 0; }
						.icon {
							@include rem(2);
						}
					}
				}
			}
		}
	}

/* ==========================================================================
   $NARRATIVE FORMS
   ========================================================================== */

   #palantir {
		padding-bottom: 1em;
		text-align: center;
		h2 {
			@include rem(1.4);
			background: white;
			color: $base-color;
			display: inline-block;
			font-family: $font-stack-simili;
			font-weight: 400;
			margin: 0 auto;
			padding: .1em .5em;
			span { position: relative; z-index: 1; }
		}
   }
   .narrative-form {
		border: 1px dotted white;
		padding: 3rem;
		position: relative;
		top: -1.2rem;
		.form-row {
			display: inline-block;
			color: white;
			margin-bottom: 2rem;
			label {
				@include rem(3);
				color: rgba(255,255,255,0.6);
				display: inline-block;
				font-family: $font-stack-simili;
			}
			select {
				@include rem(3);
				background: transparent;
				border: 0;
				color: white;
				display: inline-block;
				width: auto;
			}
		}
   }

/* ==========================================================================
   $CONTACT FORM
   ========================================================================== */

	.list-form {
		@include border-radius(5px);
		background: white;
		padding: 1rem;
		h2 {
			@include rem(1.4);
			color: $base-color;
			margin: 0;
			padding: 0;
			text-transform: uppercase;
		}
		li {
			color: $base-color;
			a {
				color: $base-color-elbakin;
			}
		}
		.basic_list a { display: inline-block; }
	}
	.tablist {
		margin: 1em 0 0 0;
		padding: 0;
		list-style: none none;
		.sujet {
			@include transition(all .3s);
			background: white;
			display: block;
			padding: 1rem 0;
			position: relative;
			&:hover {
				background: #eaeaea;
				cursor: pointer;
			}
			span {
				display: block;
				&.tab-title+ span {
					color: #666;
				}
			}
			.spectre {
				@include transition(all .3s);
				@include border-radius(50%);
				position: absolute;
				left: 1.5rem;
				top: 1.2rem;
				width: 1.5rem;
				height: 1.5rem;
				background: white;
				border: 1px solid #ccc;
			}
			.tab-title {
				text-transform: uppercase;
				color: $base-color;
				font-family: $font-stack-headings;
			}
			.tab-title, .tab-title + span {
				padding-left: 8.33333%;
			}
		}
		.contenu_sujet {
			@include transition(all .3s);
			@include opacity(0);
			@include translate3d(0,-10px,0);
			height: 0;
			overflow: hidden;
		}
		[type="radio"] {
			clip:rect(0 0 0 0);
			clip:rect(0, 0, 0, 0);
			height:1px;
			margin:-1px;
			opacity:0;
			overflow:hidden;
			padding:0;
			position:absolute;
			width:1px;
			&:checked {
				~ .sujet {
					&:hover {
						background: white;
					}
					border-top: 1px solid #ccc;
					.spectre {
						border: 2px solid $base-color-elbakin;
					}
					.tab-title {
						color: $base-color-elbakin;
					}
				}
				~ .contenu_sujet {
					@include opacity(1);
					@include translate3d(0,0,0);
					height: auto;
				}
			}
		}
	}