.flex-list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	.flex-item {
		display: flex;
		flex: 1 0 auto;
		width: 18%;
		margin: 0 1%;
	}
}

/* ============== R E S P O N S I V E
========================================================== */

@media (max-width: $tiny-screen) {
	.flex-list {
		.flex-item {
			width: 48%;
		}
	}
}
@media (min-width: $tiny-screen) and (max-width: $medium-screen) {
	.flex-list {
		.flex-item {
			width: 30%;
		}
	}
}

/* ================ M A S O N R Y
===================================================== */

.liste_ouvrage {
	padding: 2rem 0;
	.simili-title {
		padding-bottom: 1rem;
	}
	article {
		@include border-radius(5px);
		background: white;
		margin-bottom: 2em;
		img {
			height: auto;
			width: 100%;
		}
		.entry-header {
			display: block;
			overflow: hidden;
			padding: 1rem 1rem 0 1rem;
			p {
				display: block;
				font-family: $font-stack-headings;
				@include rem(1.6);
				text-transform: uppercase;
				position: relative;
				background: white;
				text-align: left;
				&:before {
					@include rotate(-3deg);
					background: inherit;
					content: '';
					display: block;
					height: 35px;
					left: 0;
					position: absolute;
					top: -20px;
					width: 101%;
				}
				span {
					position: relative;
					top: -.5rem;
				}
			}
		}
		.genre {
			color: #666;
			font-family: $font-stack-special;
			font-style: italic;
			padding: 0 1rem;
		}
		.entry-meta {
			border-top: 1px solid #ccc;
			color: #666;
			margin-top: 1rem;
			padding: 1rem;
			text-align: right;
		}
	}
}