/********************************************************************************************************************************************************************************
********************* N A V I G A T I O N *****************
/********************************************************************************************************************************************************************************/

.basic_list {
	list-style: none none;
	padding: 0;
	margin: 0;
	li {
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		a {
			display: inline-block;
			padding: .25em 0;
		}
	}
}

/* ============== O F F   C A N V A S   N A V I G A T I O N
========================================================== */

	/* architecture inherente au menu hors canvas */
	.m-scene {
		background: white;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		position: relative;
		.relative_content {
			position: relative;
		}
		.menu-button {
			@include transition(transform 0.3s);
		}
	}
	.mp-pusher {
		position: relative;
		left: 0;
		height: 100%;
	}

	/* =========== concept menu
		==================================  */

	.mp-menu {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 300px;
		height: 100%;
		@include translate3d(-100%, 0, 0);
	}
	.mp-level {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $navigation-background;
		@include translate3d(-100%, 0, 0);
	}
	/* overlays for pusher and for level that gets covered */
	.mp-pusher::after,
	.mp-level::after,
	.mp-level::before {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		content: '';
		opacity: 0;
	}
	.mp-pusher::after,
	.mp-level::after {
		background: rgba(255,255,255,0.3);
		@include transition(opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s);
	}
	.mp-level::after {
		z-index: -1;
	}
	.mp-pusher.mp-pushed::after,
	.mp-level.mp-level-overlay::after {
		width: 100%;
		height: 100%;
		@include opacity(1);
		@include transition(opacity 0.3s);
	}
	.mp-level.mp-level-overlay {
		cursor: pointer;
	}
	.mp-level.mp-level-overlay.mp-level::before {
		width: 100%;
		height: 100%;
		background: transparent;
		@include opacity(1);
	}
	.mp-pusher,
	.mp-level {
		@include transition(all 0.5s);
	}
	/* overlap */
	.mp-overlap .mp-level.mp-level-open {
		@include box-shadow(1px 0 2px rgba(0,0,0,0.2));
		@include translate3d(-40px, 0, 0);
	}
	/* First level */
	.mp-menu > .mp-level,
	.mp-menu > .mp-level.mp-level-open,
	.mp-menu.mp-overlap > .mp-level,
	.mp-menu.mp-overlap > .mp-level.mp-level-open {
		@include box-shadow(none);
		@include translate3d(0, 0, 0);
	}
	/* cover */
	.mp-cover .mp-level.mp-level-open {
		@include translate3d(0, 0, 0);
	}
	.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
		@include translate3d(-100%, 0, 0);
	}
	/* content style */
	.mp-menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#mp-menu li {
		display: block;
	}
	.mp-menu h2 {
		margin: 0;
		padding: 1em;
		font-family: $font-stack-special;
		color: white;
		font-weight: 300;
		font-style: italic;
		font-size: 2em;
		@include font-enhancements();
		@include font-kerning();
	}
	.mp-menu.mp-overlap h2::before {
		position: absolute;
		top: 0;
		right: 0;
		margin-right: 8px;
		font-size: 75%;
		line-height: 1.8;
		@include opacity(0);
		@include transition(opacity 0.3s, transform 0.1s 0.3s);
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		transform: translateX(-100%);
		z-index: 500;
	}
	.mp-menu.mp-cover h2 {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		font-size: 1em;
	}
	.mp-overlap .mp-level.mp-level-overlay > h2::before {
		font-family: 'icomoon', sans-serif;
		speak: none;
		font-size: 60%;
		display: inline-block;
		width: 20px;
		height: 20px;
		@include opacity(1);
		@include transition(transform 0.3s, opacity 0.3s);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		transform: translateX(0);
	}
	#mp-menu li .icon {
		&:before {
			margin-right: 10px;
		}
	}
	#mp-menu ul li > a {
		color: white;
		display: block;
		font-weight: 300;
		padding: 0.7em 1em 0.7em 1.8em;
		outline: none;
		@inclulde box-shadow(inset 0 -1px rgba(255,255,255,0.1));
		font-size: 1.4em;
		@include transition(background 0.3s, box-shadow 0.3s);
		span {
			font-family: $font-stack-condensed;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.mp-menu ul li::before {
		position: absolute;
		left: 5px;
		z-index: -1;
		color: white;
		line-height: 3.5;
	}
	.mp-level > ul > li:first-child > a {
		@include box-shadow(inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2));
	}
	.mp-menu ul li a:hover,
	.mp-level > ul > li:first-child > a:hover {
		background: rgba(0,0,0,0.2);
		@include box-shadow(inset 0 -1px rgba(0,0,0,0));
	}
	.mp-menu .mp-level.mp-level-overlay > ul > li > a,
	.mp-level.mp-level-overlay > ul > li:first-child > a {
		@include box-shadow(inset 0 -1px rgba(0,0,0,0));
	}
	.mp-level > ul > li:first-child > a:hover,
	.mp-level.mp-level-overlay > ul > li:first-child > a {
		@include box-shadow(inset 0 -1px rgba(0,0,0,0), inset 0 1px rgba(0,0,0,0));
	}
	.mp-back {
		background: rgba(0,0,0,0.1);
		outline: none;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		display: block;
		font-size: 0.8em;
		padding: 1em;
		position: relative;
		@include box-shadow(inset 0 1px rgba(0,0,0,0.1));
		@include transition(background 0.3s);
	}
	.mp-back::after {
		font-family: 'icomoon', sans-serif;
		speak: none;
		position: absolute;
		content: "O";
		right: 5px;
		font-size: 1.3em;
		color: rgba(255,255,255,0.3);
	}
	.mp-menu .mp-level.mp-level-overlay > .mp-back,
	.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
		background: transparent;
		box-shadow: none;
		color: transparent;
	}
	/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
	/* We'll show the first level only */
	.no-csstransforms3d .mp-pusher,
	.no-js .mp-pusher {
		padding-left: 300px;
	}
	.no-csstransforms3d .mp-menu .mp-level,
	.no-js .mp-menu .mp-level {
		display: none;
	}
	.no-csstransforms3d .mp-menu > .mp-level,
	.no-js .mp-menu > .mp-level {
		display: block;
	}

/* ============== L I S T S
========================================================== */

.easy-access {
	list-style: none none;
	li {
		display: inline-block;
	}
}

		/* ============== S O C I A L ==================== */

		.social {
			list-style: none none;
			margin: 0;
			padding: 0;
			float: right;
			text-align: right;
			li {
				border-left: 1px solid #aaa;
				display:block;
				float: left;
				line-height: 1;
				margin: 0;
				padding: 0;
				&.connect span + span {
					display: none;
				}
			}
			a {
				display: inline-block;
				padding: 15px;
				margin: 0;
				&:hover, &:focus {
					color: $base-color-elbakin;
					text-decoration: none;
				}
			}
			.icon {
				@include rem(2);
				vertical-align: middle;
				& + span {
					@include rem(2);
					display: inline-block;
					font-family: $font-stack-simili;
					font-weight: normal;
					line-height: 1;
					text-transform: uppercase;
					vertical-align: middle;
				}
			}
			.link {
				position: relative;
				bottom: 5px;
				font-family: $font-stack-caps;
				font-weight: 700;
				@include rem(1.6);
			}
		}

		/* ============== L A U N C H   M E G A   N A V ==================== */

		.launch-nav {
			list-style: none none;
			margin: 0;
			padding: 0;
			li {
				border-right: 1px solid #aaa;
				display: block;
				float: left;
				line-height: 1;
				margin: 0;
				padding: 0;
				&.palantir span + span, &.agora span + span {
					display: none;
				}
			}
			a {
				display: inline-block;
				min-height: 50px;
				padding: 15px;
				margin: 0;
				&:hover {
					color: $base-color-elbakin;
					text-decoration: none;
				}
			}
			.icon {
				@include rem(2);
				vertical-align: middle;
				& + span {
					@include rem(2);
					display: inline-block;
					font-family: $font-stack-simili;
					font-weight: normal;
					line-height: 1;
					margin-left: .5rem;
					text-transform: uppercase;
					vertical-align: middle;
				}
			}
		}

		/* ============== P A L A N T I R ==================== */


/* ============== B R E A D C R U M B   +  S H A R E
========================================================== */

.tools {
	width: 100%;
	padding: .5em 0;
	background: #f3f3f3;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@extend %clearfix;
	ul {
		list-style: none none;
		margin: 0;
		padding: 0;
		@extend %clearfix;
	}
}
.breadcrumb, .share {
	li {
		display: inline-block;
	}
}
.breadcrumb {
	li {
		&:first-child {
			&:before {
				font-family: 'icomoon', sans-serif;
				content: "\e62a";
				vertical-align: top;
				margin-right: .5em;
			}
		}
		&:after {
			font-family: 'icomoon', sans-serif;
			content: "\e618";
			vertical-align: middle;
		}
		&:last-child {
			&:after {
				content: "";
			}
			font-style: italic;
		}
	}
}
.share {
	float: right;
	text-transform: uppercase;
	li {
		margin-left: 1em;
	}
}