/********************************************************************************************************************************************************************************
********************* N A V I G A T I O N *****************
/********************************************************************************************************************************************************************************/

.basic_list {
	list-style: none none;
	padding: 0;
	margin: 0;
	li {
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		a {
			display: inline-block;
			padding: .25em 0;
		}
	}
}

/* ============== L I S T S
========================================================== */

.easy-access {
	list-style: none none;
	li {
		display: inline-block;
	}
}


/* ============== B R E A D C R U M B   +  S H A R E
========================================================== */

.tools {
	width: 100%;
	padding: .5em 0;
	background: #f3f3f3;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@extend %clearfix;
	ul {
		list-style: none none;
		margin: 0;
		padding: 0;
		@extend %clearfix;
	}
}
.breadcrumb, .share {
	li {
		display: inline-block;
	}
}
.breadcrumb {
	li {
		&:first-child {
			&:before {
				font-family: 'icomoon', sans-serif;
				content: "\e62a";
				vertical-align: top;
				margin-right: .5em;
			}
		}
		&:after {
			font-family: 'icomoon', sans-serif;
			content: "\e618";
			vertical-align: middle;
		}
		&:last-child {
			&:after {
				content: "";
			}
			font-style: italic;
		}
	}
}
.share {
	float: right;
	text-transform: uppercase;
	li {
		margin-left: 1em;
	}
}

/* ============== P A G E   D E   G A R D E
========================================================== */

#garde {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: white;
	z-index: 100;
}
.overlay {
	@include backface-visibility(hidden);
	@include transition(transform 0.5s, visibility 0s 0.5s);
	@include translate(-100%,0);
	backface-visibility: hidden;
	visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	&.open {
		@include translate3d(0%,0,0);
		@include transition(transform 0.5s);
		visibility: visible;
	}
	.menu-close {
		background: white;
		border: 0;
		display: block;
		position: absolute;
		right: 1em;
		top: 1em;
		z-index: 500;
	}
}
.section-item {
	position: absolute;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	.inner-section {
		@include translate3d(0,40%,0);
		// @include rotate(5deg);
		position: relative;
		top: 30%;
		text-align: center;
		a, em {color: white; display: block;}
		a {
			font-family: $font-stack-headings;
			font-size: $al-size;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}
.section-01 {
	// section bibliotheque
	background-image: url('../images/library.jpg');
	background-position: bottom left;
	height: 100vh;
	left: 33vw;
	top: 0;
	width: 34vw;
}
.section-02 {
	// section tolkien
	background-image: url('../images/argonath.jpg');
	height: 50vh;
	left: 0;
	top: 50vh;
	width: 33vw;
}
.section-03 {
	// section fantasy
	background-image: url('../images/fantasy.jpg');
	background-position: bottom right;
	height: 50vh;
	left: 0;
	top: 0;
	width: 33vw;
}
.section-04 {
	// section forum
	background: DarkSeaGreen;
	right: 0;
	top: 0;
	width: 33vw;
	height: 33vh;
}
.section-05 {
	// section emission
	background: DarkSlateGray;
	right: 0;
	top: 33vh;
	width: 33vw;
	height: 33vh;
}
.section-06 {
	// section emission
	background: GoldenRod;
	right: 0;
	bottom: 0;
	width: 33vw;
	height: 34vh;
}